import logging
from pathlib import Path

class UserParams:

    ### Environment Variables ###
    # Path to the directory where the Defects4J framework is located
    D4J_PATH = "/Users/davidhidvegi/Desktop/defects4j/framework/bin"
    # Java home directory 
    JAVA_HOME = "/Library/Java/JavaVirtualMachines/zulu-8.jdk/Contents/Home"
    # Path to the directory where the bugs are checked out
    TMP_DIR = "/tmp/defects4j"
    # Your API key for the ChatGPT API
    API_KEY = "sk-AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
