import logging
from pathlib import Path

class UserParams:

    ### Environment Variables ###
    # Path to the directory where the Defects4J framework is located
    D4J_PATH = "path_to_d4j_bin"
    # Java home directory 
    JAVA_HOME = "path_to_java_home"
    # Path to the directory where the bugs are checked out
    TMP_DIR = "patch_to_tmp_dir"
    # Your API key for the ChatGPT API
    API_KEY = "your_api_key"
